@page "/"

<PageTitle>Sales Taxes</PageTitle>

<h1>Welcome to Sales Taxes Calculator</h1>
<h6>Please select a shopping cart</h6>

<ul>
    <li><a href="shoppingcart/1">Shopping Cart 1</a></li>
    <li><a href="shoppingcart/2">Shopping Cart 2</a></li>
    <li><a href="shoppingcart/3">Shopping Cart 3</a></li>
</ul>

